{% extends 'base.html' %}
{% load static %}
{% block body_block %}

	<div class="page-heading text-center">

		<div class="container zoomIn animated">

			<h1 class="page-title">ABOUT US <span class="title-under"></span></h1>
			<p class="page-description">
				Not only we must be good, we must be GOOD FOR SOMETHING
			</p>

		</div>

	</div>

	<div class="main-container">

		<div class="container">

			<div class="row fadeIn animated odd-about-card">

				<div class="col-md-6">

					<img src="{% static 'assets/images/test-images/240_F_186411793_STZlj8Cc2aqhovZJ5UTFwG2mzaZPtQeB.jpg' %}" alt="" class="img-responsive">

				</div>

				<div class="col-md-6">

					<h2 class="title-style-2">ABOUT TRAVANCORE-TRUST <span class="title-under"></span></h2>

					<p>We aim to identify, allocate, empower and impart to every children and adult valuable. To set up a comprehensive centre for mental health and substance abuse, integrating psychiatry, clinical psychology and counseling.</p>

					<p>To promote skill development Training programs, motivational class and camps, project preparation, agriculture, diary etc, Marketing support to the needy agriculture groups. Monitoring, auditing and continuous training.</p>
            <p>To tackle and eliminate poverty by giving each individual, child and adult, the opportunity to learn, develop and contribute their skills to make a better world.</p>
				</div>

			</div> <!-- /.row -->

      <!-- inserting cards again -->

      <div class="row fadeIn animated even-about-card">
        <div class="col-md-6">

          <h2 class="title-style-2"> OUR AIM <span class="title-under"></span></h2>
          <ul type="circle">
            <li>To establish, develop, maintain and grant aid in cash or kind to hostels, hospitals, medical colleges, nursing institutions, dispensaries, maternities, child welfare centers and/or such other similar charitable institutions in India for the benefit and use of the general public including rehabilitation centres for nursing HIV infected people and their families providing basic necessities of food, medicine, clothing and shelter</li>
            <li><b>Sanitation Mission (Waste Management Programme)</b> - To educate the general public regarding solid waste management with a mission to tackle the growing concern of improper garbage disposal. Awareness about the solid waste project, which is a part of a clean world environment, workshops, supervision by the management team experts for setting up its unit on demand.</li>
            <li><b>Education Support (Vyasa)-</b> Through this service, the trust intends to provide continuing education for the children of economically disadvantaged families. </li>

          </ul>
          <!-- <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, nulla quae possimus id fugit totam perspiciatis ad consequatur natus dolores unde ipsa, architecto, dignissimos corrupti explicabo provident debitis suscipit, beatae!
          </p>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi pariatur, voluptatum molestiae voluptas ducimus tempora numquam eligendi quos, quia aut quidem et, odio deleniti amet natus accusamus fugit! Temporibus, tenetur.
          </p>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse voluptatem, ea, quisquam vero ullam nesciunt recusandae expedita similique nisi! Ducimus, reiciendis, quia. Explicabo minima error excepturi minus, aperiam illum fugit.
          </p>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi pariatur, voluptatum molestiae voluptas ducimus tempora numquam eligendi quos, quia aut quidem et, odio deleniti amet natus accusamus fugit! Temporibus, tenetur.
          </p>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse voluptatem, ea, quisquam vero ullam nesciunt recusandae expedita similique nisi! Ducimus, reiciendis, quia. Explicabo minima error excepturi minus, aperiam illum fugit , quia. Explicabo minima error excepturi minus, aperiam illum fugit.

          </p> -->

        </div>

        <div class="col-md-6">
          <p>_____________________
          </p>
					<img src="{% static 'assets/images/test-images/500_F_315222447_X46vxIOPSZ6qse08W7AUFQZeKKsRUGMr.jpg' %}" alt="" class="img-responsive">
				</div>
        </div>

        <div class="row fadeIn animated odd-about-card">

  				<div class="col-md-6">
            <p>______________________
            </p>
  					<img src="{% static 'assets/images/test-images/240_F_360262037_7rwUYLm6j89qK9PZRudbLRZNr3M8FeqC.jpg' %}" alt="" class="img-responsive">


  				</div>

  				<div class="col-md-6">

  					<h2 class="title-style-2">OUR MISSION <span class="title-under"></span></h2>
            <ul type="circle">
              <li>To provide basic necessities to people to help them live, by providing basic healthcare and expensive surgeries</li>
              <li>To provide the best healthcare as humanly possible for the less fortunate living in this world</li>
              <li>To take care of abandoned children and abused women and give them a second chance at living life.</li>
              <li>To establish, maintain or grant aid to homes for the aged, orphanages or other establishments for the relief and help to the poor physically handicapped, disabled or mentally retarded the needy and the destitute, orphans, widows and aged persons and to provide them food, clothing, education or any other help.</li>

            </ul>
  				</div>

  			</div> <!-- /.row -->


			<div class="section-home about-us">


			            <div class="row">

			                <div class="col-md-3 col-sm-6">

			                  <div class="about-us-col">

			                        <div class="col-icon-wrapper">
			                          <img src="{% static 'assets/images/icons/our-mission-icon.png' %}" alt="">
			                        </div>
			                        <h3 class="col-title">our mission</h3>
			                        <div class="col-details">

			                          <p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect</p>

			                        </div>
			                        <a href="#" class="btn btn-primary"> Read more </a>

			                  </div>

			                </div>


			                <div class="col-md-3 col-sm-6">

			                  <div class="about-us-col">

			                        <div class="col-icon-wrapper">
			                          <img src="{% static 'assets/images/icons/make-donation-icon.png' %}" alt="">
			                        </div>
			                        <h3 class="col-title">Make donations</h3>
			                        <div class="col-details">

			                          <p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect</p>

			                        </div>
			                        <a href="#" class="btn btn-primary"> Read more </a>

			                  </div>

			                </div>


			                <div class="col-md-3 col-sm-6">

			                  <div class="about-us-col">

			                        <div class="col-icon-wrapper">
			                          <img src="{% static 'assets/images/icons/help-icon.png' %}" alt="">
			                        </div>
			                        <h3 class="col-title">Help & support</h3>
			                        <div class="col-details">

			                          <p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect</p>

			                        </div>
			                        <a href="#" class="btn btn-primary"> Read more </a>

			                  </div>

			                </div>


			                <div class="col-md-3 col-sm-6">

			                  <div class="about-us-col">

			                        <div class="col-icon-wrapper">
			                          <img src="{% static 'assets/images/icons/programs-icon.png' %}" alt="">
			                        </div>
			                        <h3 class="col-title">our programs</h3>
			                        <div class="col-details">

			                          <p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect</p>

			                        </div>
			                        <a href="#" class="btn btn-primary"> Read more </a>

			                  </div>

			                </div>



			            </div> <!-- /.row -->


			    </div>

		</div> <!-- /.about-us -->

    <a class="btn btn-lg FAB" href="#">Donate<br>Now!</a>

	    <div class="our-team animate-onscroll fadeIn">

	        <div class="container">

	            <h2 class="title-style-1">Our Team <span class="title-under"></span></h2>

	            <div class="row">

	                <div class="col-md-3 col-sm-6">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="{% static 'assets/images/team/member-1.jpg' %}" alt="" class="cause-img">

	                        </div>



	                        <h4 class="member-name"><a href="#">Robert C. Numbers</a></h4>

	                        <div class="member-position">
	                            CO-FOUNDER
	                        </div>

	                        <div class="btn-holder">

	                          <a href="#" class="btn"> <i class="fa fa-envelope"></i> </a>
	                          <a href="#" class="btn"> <i class="fa fa-facebook"></i> </a>
	                          <a href="#" class="btn"> <i class="fa fa-google"></i> </a>
	                          <a href="#" class="btn"> <i class="fa fa-twitter"></i> </a>
	                          <a href="#" class="btn"> <i class="fa fa-linkedin"></i> </a>

	                        </div>



	                    </div> <!-- /.team-member -->

	                </div>

	                <div class="col-md-3 col-sm-6">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="{% static 'assets/images/team/member-3.jpg' %}" alt="" class="cause-img">

	                        </div>



	                        <h4 class="member-name"><a href="#">Marjorie R. Echevarria</a></h4>

	                        <div class="member-position">
	                            CO-FOUNDER
	                        </div>

	                        <div class="btn-holder">

	                          <a href="#" class="btn"> <i class="fa fa-envelope"></i> </a>
	                          <a href="#" class="btn"> <i class="fa fa-facebook"></i> </a>
	                          <a href="#" class="btn"> <i class="fa fa-google"></i> </a>
	                          <a href="#" class="btn"> <i class="fa fa-twitter"></i> </a>
	                          <a href="#" class="btn"> <i class="fa fa-linkedin"></i> </a>

	                        </div>



	                    </div> <!-- /.team-member -->

	                </div>


	                <div class="col-md-3 col-sm-6">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="{% static 'assets/images/team/member-4.jpg' %}" alt="" class="cause-img">

	                        </div>



	                        <h4 class="member-name"><a href="#">Allison J. Falls</a></h4>

	                        <div class="member-position">
	                            CO-FOUNDER
	                        </div>

	                        <div class="btn-holder">

	                          <a href="#" class="btn"> <i class="fa fa-envelope"></i> </a>
	                          <a href="#" class="btn"> <i class="fa fa-facebook"></i> </a>
	                          <a href="#" class="btn"> <i class="fa fa-google"></i> </a>
	                          <a href="#" class="btn"> <i class="fa fa-twitter"></i> </a>
	                          <a href="#" class="btn"> <i class="fa fa-linkedin"></i> </a>

	                        </div>



	                    </div> <!-- /.team-member -->

	                </div>


	                <div class="col-md-3 col-sm-6">

	                    <div class="team-member">

	                        <div class="thumnail">

	                            <img src="{% static 'assets/images/team/member-2.jpg' %}" alt="" class="cause-img">

	                        </div>





	                        <div class="member-position">
                                <h4 class="member-name"><a href="#">Bryan B. Stevens</a></h4>
	                            CO-FOUNDER
	                        </div>

	                        <div class="btn-holder">

	                          <a href="#" class="btn"> <i class="fa fa-envelope"></i> </a>
	                          <a href="#" class="btn"> <i class="fa fa-facebook"></i> </a>
	                          <a href="#" class="btn"> <i class="fa fa-google"></i> </a>
	                          <a href="#" class="btn"> <i class="fa fa-twitter"></i> </a>
	                          <a href="#" class="btn"> <i class="fa fa-linkedin"></i> </a>

	                        </div>



	                    </div> <!-- /.team-member -->

	                </div>

	            </div> <!-- /.row -->

	        </div>

	    </div>



	</div>


{% endblock %}
