{% extends 'base.html' %}
{% load static %}
{% block body_block %}

        <a class="btn btn-lg FAB" href="#">Donate<br>Now!</a>

    <div id="homeCarousel" class="carousel slide carousel-home" data-ride="carousel">

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#homeCarousel" data-slide-to="1"></li>
            <li data-target="#homeCarousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner" role="listbox">

            <div class="item active">

              <img style="height: 520px;" src="https://images.unsplash.com/photo-1559027615-cd4628902d4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">

              <div class="container">

                <div class="carousel-caption">

                  <h2 class="carousel-title bounceInDown animated slow">Because they need your help</h2>
                  <h4 class="carousel-subtitle bounceInUp animated slow ">Do not let them down</h4>
                  <a href="donate.html" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow" data-toggle="modal" data-target="#donateModal">DONATE NOW</a>

                </div> <!-- /.carousel-caption -->

              </div>

            </div> <!-- /.item -->


            <div class="item ">

              <img style="height: 520px;" src="https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">

              <div class="container">

                <div class="carousel-caption">

                  <h2 class="carousel-title bounceInDown animated slow">Together we can improve their lives</h2>
                  <h4 class="carousel-subtitle bounceInUp animated slow"> So let's do it !</h4>
                  <a href="#" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated" data-toggle="modal" data-target="#donateModal">DONATE NOW</a>

                </div> <!-- /.carousel-caption -->

              </div>

            </div> <!-- /.item -->




            <div class="item ">

              <img style="height: 520px" src="https://images.unsplash.com/photo-1558261827-d0de98a628e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">

              <div class="container">

                <div class="carousel-caption">

                  <h2 class="carousel-title bounceInDown animated slow" >A penny is a lot of money, if you have not got a penny.</h2>
                  <h4 class="carousel-subtitle bounceInUp animated slow">You can make the diffrence !</h4>
                  <a href="#" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow" data-toggle="modal" data-target="#donateModal">DONATE NOW</a>

                </div> <!-- /.carousel-caption -->

              </div>

            </div> <!-- /.item -->

          </div>

          <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

    </div>


    <div class="main-container fadeIn animated">

  		<div class="container">

  			<div class="row">
                <section>

  				<div class="col-md-7 col-sm-12 col-form">

  					<h2 class="title-style-2">DONATE FORM <span class="title-under"></span></h2>

  					<form action="php/mail.php" class="contact-form ajax-form">

  						<div class="row">

          							<div class="form-group col-md-6">
                              <label for="dfname">FIRST NAME*</label>
          	                        <input type="text" name="dfname" class="form-control" placeholder="Name" required>
          	            </div>

                        <div class="form-group col-md-6">
                              <label for="dlname">LAST NAME*</label>
          	                        <input type="text" name="dlname" class="form-control" placeholder="Name" required>
          	            </div>

                        <div class="form-group col-md-6">
                          <label for="dgender">Gender*</label>
                          <div class="col-sm-10">
                            <label for="male" class="radio-inline"><input type="radio" name="dgender" value="male" required  id="male"> MALE </label>
                            <label for="female" class="radio-inline"><input type="radio" name="dgender" value="female" required  id="female"> FEMALE </label>
                            <label for="other" class="radio-inline"><input type="radio" name="dgender" value="others" required  id="other"> OTHER </label>
                          </div>
                        </div>

          	              <div class="form-group col-md-6">
                           <label for="email">E-mail*</label>
          	                   <input type="email" name="demail" class="form-control" placeholder="E-mail" required>
          	               </div>

                            <div class="form-group col-md-6">
                              <label for="dcontact">Contact*</label>
                              	<input type="tel" name="dcontact" class="form-control" placeholder="Contact no" required>
                             </div>


                             <div class="form-group col-md-6">
                                   <label for="doccupation">Occupation*</label>
                                         <input type="text" name="doccupation" class="form-control" placeholder="occupation" required>
                             </div>


                             <div class="form-group col-md-6">
                                   <label for="dcity">City*</label>
                                         <input type="text" name="dcity" class="form-control" placeholder="City" required>
                             </div>

                             <div class="form-group col-md-6">
                                   <label for="dpincode">Zipcode*</label>
                                         <input type="zipcode" name="dpincode" class="form-control" pattern="^[0-9]{6}$" title="Zipcode should be of 6 digits only" placeholder="Zipcode" required>
                             </div>

                             <div class="form-group col-md-6">
                               <label for="dtype">Type Of Donation*</label>

                                 <select class="form-control" name="dtype" placeholder="Type" required>
                                   <option value="Money">Money</option>
                                   <option value="Livelihood">Livelihood</option>
                                   <option value="Education">Education</option>
                                   <option value="Snacks">Health</option>
                                 </select>

                             </div>

                           <!-- <div activeclass="form-group col-md-6">
                             <label for="damount">Amount*</label>
                               <input type="number" name="damount" min="1" step="any" class="form-control" placeholder="Enter the amount" required>
                            </div> -->

                            </div>
                          <div class="form-group alerts">

                          	<div class="alert alert-success" role="alert">

  							</div>

  							<div class="alert alert-danger" role="alert">

  							</div>

                          </div>

                           <div class="form-group">
                              <button type="submit" class="btn btn-primary pull-right">Donate</button>
                          </div>

                          <div class="clearfix"></div>

  					</form>
                </section>
                <section>
                    <img class="donate-image" src="{% static 'assets/images/united-nations-covid-19-response-QVNyCllG2GQ-unsplash.jpg' %}" alt="">
                </section>
  				</div>
        </div>
      </div>
{% endblock %}
