{% extends 'base.html' %}
{% load static %}
{% block body_block %}
    <body>


        <a class="btn btn-lg FAB" href="#">Donate<br>Now!</a>

	<div class="page-heading text-center">

		<div class="container zoomIn animated">

			<h1 class="page-title">OUR EVENTS <span class="title-under"></span></h1>
			<p class="page-description">
        small actions <span>&#215;</span> L O T S of P E O P L E = <b>BIG CHANGE</b>
			</p>

		</div>

    </div>
    <section>
      <div class="cols">

      			<div class="col" ontouchstart="this.classList.toggle('hover');">
      				<div class="container">
      					<div class="front" style="background-image: url(https://unsplash.it/502/502/)">
      						<div class="inner">
      							<p>Women Empowerment Programme</p>
                    <span>Read more</span>
      						</div>
      					</div>
      					<div class="back">
      						<div class="inner">
      							<p>A package with a mission to educate and empower women from financially low/weak status by providing training classes and
          labour units.</p>
      						</div>
      					</div>
      				</div>
      			</div>

      			<div class="col" ontouchstart="this.classList.toggle('hover');">
      				<div class="container">
      					<div class="front" style="background-image: url(https://unsplash.it/503/503/)">
      						<div class="inner">
      							<p>Farmer Welfare</p>
                    <span>Read more</span>
      						</div>
      					</div>
      					<div class="back">
      						<div class="inner">
      							<p>To conduct programs for organic farming, group farming, organic manure supply,organic pesticide supply, terass farming, construction of biogas plants, agriculture labour
                    supply, dairy farming, fish farming, green house farming etc</p>
      						</div>
      					</div>
      				</div>
      			</div>

      			<div class="col" ontouchstart="this.classList.toggle('hover');">
      				<div class="container">
      					<div class="front" style="background-image: url(https://unsplash.it/506/506/)">
      						<div class="inner">
      							<p>Grant Relief and Assistance</p>
                    <span>Read more</span>
      						</div>
      					</div>
      					<div class="back">
      						<div class="inner">
      							<p>To grant relief and assistance to the needy victims during natural calamities such as famine, earth quake, flood, fire, pestilence etc and to give donations and other assistance to institutions, establishments or persons engaged in such relief work</p>
      						</div>
      					</div>
      				</div>
      			</div>

      			<div class="col" ontouchstart="this.classList.toggle('hover');">
      				<div class="container">
      					<div class="front" style="background-image: url(https://unsplash.it/508/508/)">
      						<div class="inner">
      							<p>Monetary Assistance</p>
                    <span>Read more</span>
      						</div>
      					</div>
      					<div class="back">
      						<div class="inner">
                    <ul type="square">
                      <li>To provide <b>Monetary Assistance</b> to :-
                        <p>i) Deserving students whether they are directly under the care of the trust or not.</p>
                        <p>ii) Deserving children for medical purpose whether they are under the direct care of the trust or not</p>
                        <p>iii) Any destitute</p></li>
      						</div>
      					</div>
      				</div>
      			</div>

            <div class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/503/503/)">
                  <div class="inner">
                    <p>Sanitation Mission (Waste Management Programme)</p>
                    <span>Read more</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>To educate the general public regarding solid waste management with a mission to tackle the growing concern of improper garbage disposal. Awareness about the solid waste project, which is a part of a clean world environment, workshops, supervision by the management team experts for setting up its unit on demand.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/506/506/)">
                  <div class="inner">
                    <p>Medical Support (punarjani)</p>
                    <span>Read more</span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>With this service, the Trust intends to provide medical aid and medicines to financially weaker patients</p>
                  </div>
                </div>
              </div>
            </div>


      		</div>
</section>

    <!-- <section>

        <div class="alert alert-danger  "  role="alert">
          <ul type="square">
            <li><b>Women Empowerment Programme</b> - A package with a mission to educate and empower women from financially low/weak status by providing training classes and
  labour units.</li>
          </ul></div>

        <div class="alert alert-info  " role="alert">
          <ul type="square">
            <li>To conduct programs for <b>Farmers</b> helping in organic farming, group farming, organic manure supply,organic pesticide supply, terass farming, construction of biogas plants, agriculture labour
            supply, dairy farming, fish farming, green house farming etc</li>
          </ul></div>

        <div class="alert alert-success" role="alert">
          <ul type="square">
            <li>To <b>grant relief and assistance</b> to the needy victims during natural calamities such as famine, earth quake, flood, fire, pestilence etc and to give donations and other assistance to institutions, establishments or persons engaged in such relief work</li>
          </ul></div>

        <div class="alert alert-danger " role="alert">
          <ul type="square">
            <li>To provide <b>Monetary Assistance</b> to :-
              <p>i) Deserving students whether they are directly under the care of the trust or not.</p>
              <p>ii) Deserving children for medical purpose whether they are under the direct care of the trust or not</p>
              <p>iii) Any destitute</p></li>
          </ul>
              </div>
        <div class="alert alert-warning" role="alert">
        <ul type="square">
          <li><b>Sanitation Mission (Waste Management Programme)-</b> To educate the general public regarding solid waste management with a mission to tackle the growing concern of improper garbage disposal. Awareness about the solid waste project, which is a part of a clean world environment, workshops, supervision by the management team experts for setting up its unit on demand.
</li>
        </ul>
      </div>
        <div class="alert alert-info " role="alert">
          <ul type="square">
            <li><b>Medical Support (punarjani)-</b> With this service, the Trust intends to provide medical aid and medicines to financially weaker patients</li>
          </ul></div>
       <div class="alert alert-danger " role="alert">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, aspernatur, delectus quasi velit neque quidem perspiciatis veritatis quaerat explicabo voluptatem repudiandae at corrupti pariatur ad. Assumenda eligendi natus ipsa nesciunt!
        </div>
        <div class="alert alert-success " role="alert">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt consequuntur harum porro asperiores ipsum repellat blanditiis consequatur omnis hic cumque, inventore eos. Suscipit atque quae optio odio numquam ex animi?S
        </div>
      </section> -->


    </body>

{% endblock %}
